<div class="space-y-4 p-6 bg-gray-50/50 min-h-screen">
    <div class="flex items-center justify-between rounded-xl bg-white p-4 shadow-sm border border-gray-100">
        


        <!-- search -->
        <div class="flex items-center gap-2 rounded-lg bg-gray-100 px-3 py-2">
            <svg svg class="h-4 w-4 text-gray-600" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-4.35-4.35M17 10a7 7 0 11-14 0 7 7 0 0114 0z" />
            </svg>
            <label for="searchMenu" class="sr-only">Cari Menu</label>

            <input id="searchMenu"  type="text"
            #searchInput
            placeholder="Cari Menu..."
            (keyup.enter)="onSearch(searchInput.value)"
            class="bg-transparent text-sm text-gray-700 focus:outline-none"
        />
        <button
            type="button"
            (click)="onSearch(searchInput.value)"
            class="inline-flex items-center gap-2 rounded-lg bg-gray-200 px-3 py-1.5 text-sm font-medium text-gray-700 hover:bg-gray-300 transition-colors">
            <span>Cari</span>
        </button>
        </div>

        <button 
        (click)="openModalMenu()" 
            type="button" class="inline-flex items-center gap-2 rounded-lg bg-[#b91c1c] px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-[#7f0000] transition-colors">
            <svg class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
            <span>Tambah Menu Baru</span>
        </button>
    </div>

<!-- modal (pop up) tambah menu -->
        @if (isModalOpen) {
            <div class="fixed inset-0 z-9999 h-screen w-screen bg-black/40 backdrop-blur-sm p-4 overflow-y-auto flex items-center justify-center">
                <div class="w-full max-w-lg rounded-2xl bg-white p-6 shadow-xl transition-all">
            
                    <!-- header pop up -->
                    <div class="flex items-center justify-between pb-4">
                        <h3 h3 class="text-lg font-bold text-gray-900">Tambah Menu Baru</h3>
                        <button type="button" (click)="closeModalMenu()" 
                            class="rounded-lg p-1 text-gray-400 hover:bg-gray-100 hover:text-gray-600 transition-colors">
                            <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                            </svg>
                        </button>
                    </div>

                    
                    <!-- Body pop up  -->
                    <form class="space-y-4 pt-2" (ngSubmit)="onSubmit()" >
                        <div>
                            <label class="block text-xs font-semibold text-gray-700 mb-1">nama Menu</label>
                                <input 
                                type="text" 
                                [value]="menuForm.namaMenu" (input)="menuForm.namaMenu = $any($event.target).value"
                                name="namaMenu"
                                placeholder="Masukkan nama menu" 
                                class="w-full rounded-lg border border-gray-300 px-3 py-2 text-sm text-gray-800 focus:border-[#b91c1c] focus:outline-none focus:ring-1 focus:ring-[#b91c1c]"
                                required>
                        </div>

                        <div>
                            <label class="block text-xs font-semibold text-gray-700 mb-1">Deskripsi Menu</label>
                                <input 
                                type="text" 
                                [value]="menuForm.deskripsiMenu" (input)="menuForm.deskripsiMenu = $any($event.target).value"
                                name="deskripsiMenu"
                                placeholder="Masukkan deskripsi menu" 
                                class="w-full rounded-lg border border-gray-300 px-3 py-2 text-sm text-gray-800 focus:border-[#b91c1c] focus:outline-none focus:ring-1 focus:ring-[#b91c1c]"
                                required>
                        </div>

                        <div>
                            <label class="block text-xs font-semibold text-gray-700 mb-1">Path</label>
                            <select
                                [value]="menuForm.Path"
                                (change)="menuForm.Path = $any($event.target).value"
                                name="Path"
                                class="w-full rounded-lg border border-gray-300 px-3 py-2 text-sm text-gray-800 bg-white focus:border-[#b91c1c] focus:outline-none focus:ring-1 focus:ring-[#b91c1c]"
                                required>
                                
                                <option value="" disabled selected>Pilih Path</option>
                                
                                <option value="/master/master-user">master user</option>
                                <option value="/master/master-menu">master Menu</option>
                                <option value="/master/role-group">role group</option>
                                <option value="/master/menu-group">menu group</option>
                            </select>
                        </div>

                        <div>
                            <label class="block text-xs font-semibold text-gray-700 mb-1">Icon</label>
                            <select 
                                [value]="menuForm.Icon" 
                                (change)="menuForm.Icon = $any($event.target).value"
                                name="Icon"
                                class="w-full rounded-lg border border-gray-300 px-3 py-2 text-sm text-gray-800 bg-white focus:border-[#b91c1c] focus:outline-none focus:ring-1 focus:ring-[#b91c1c]"
                                required>
                                <option value="" disabled selected>Pilih Icon</option>
                                @for (opt of iconOptions; track opt.path) {
                                <option [value]="opt.path">{{ opt.label }}</option>
                                }
                            </select>
                        </div>

                        <div class="flex justify-end gap-3 pt-4">
                            <button 
                                type="button" 
                                (click)="closeModalMenu()" 
                                class="rounded-lg border border-gray-300 px-5 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 transition-colors">
                                Batal
                            </button>
                            <button 
                                type="submit" 
                                class="rounded-lg bg-[#b91c1c] px-5 py-2 text-sm font-medium text-white hover:bg-[#f03a3a] transition-colors">
                                Simpan
                            </button>
                        </div>

                    </form>

                </div>
            </div>
        }

<!-- Konfirmasi delete -->
@if (isDeleteModal) {
    <div class="fixed inset-0 z-9999 h-screen w-screen bg-black/40 backdrop-blur-sm p-4 overflow-y-auto flex items-center justify-center">
        <div class="w-full max-w-md rounded-2xl bg-white p-6 shadow-xl transition-all my-auto"> 
            <div class="flex items-center justify-between pb-4 border-b border-gray-100">
                <h3 class="text-lg font-bold text-gray-900">Delete Confirm</h3>
                <button 
                type="button" 
                (click)="closeDeleteModal()" 
                class="rounded-lg p-1 text-gray-400 hover:bg-gray-100 hover:text-gray-600 transition-colors">
                <svg class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                </svg>
                </button>
            </div>

            <div class="py-5 text-sm text-gray-600">
                Apakah Anda yakin ingin menghapus data employee ini?
            </div>

            <div class="flex justify-end gap-2 pt-2">
                <button 
                type="button" 
                (click)="closeDeleteModal()" 
                class="rounded-lg border border-gray-300 px-4 py-2 text-sm font-medium text-gray-700 hover:bg-gray-50 transition-colors">
                No
                </button>

                <button 
                type="button" 
                (click)="confirmDelete()" 
                class="rounded-lg bg-[#b91c1c] px-4 py-2 text-sm font-medium text-white hover:bg-[#7f0000] transition-colors">
                Yes
                </button>
            </div>

        </div>
    </div>
}

    <!-- Container Tabel -->
    <div class="overflow-hidden rounded-xl bg-white shadow-sm border border-gray-100">
        <div class="overflow-x-auto">
            <table class="w-full text-left text-sm text-gray-600">
                <!-- Header Tabel -->
                <thead class="bg-[#b91c1c] text-xs font-semibold uppercase tracking-wider text-white border-b border-gray-100">
                    <tr>
                        <th scope="col" class="px-6 py-4">MENU</th>
                        <th scope="col" class="px-6 py-4">DESKRIPSI</th>
                        <th scope="col" class="px-6 py-4">PATH</th>
                        <th scope="col" class="px-6 py-4">CREATED DATE</th>
                        <th scope="col" class="px-6 py-4">UPDATED DATE</th>
                        <th scope="col" class="px-6 py-4 text-right">AKSI</th>
                    </tr>
                </thead>

                <!-- Body Tabel  -->

                <tbody class="divide-y divide-gray-100">
                    @for (menu of menu(); track menu.menuId) {
                        <tr>
                            <td class="px-4 py-3">{{ menu.namaMenu }}</td>
                            <td class="px-4 py-3">{{ menu.deskripsiMenu }}</td>
                            <td class="px-4 py-3">{{ menu.path }} </td>
                            <td class="px-4 py-3">{{ menu.created_at }}</td>
                            <td class="px-4 py-3">{{ menu.updated_at }}</td>
                            <td class="px-4 py-3">
                                <div class="flex items-center justify-end gap-2">
                                    <button
                                    type="button"
                                    title="Edit Menu"
                                    class="rounded-lg p-1.5 text-gray-500 hover:bg-gray-100 hover:text-red-600 transition-colors">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M12 3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"/>
                                        <path d="M18.375 2.625a1 1 0 0 1 3 3l-9.013 9.014a2 2 0 0 1-.853.505l-2.873.84a.5.5 0 0 1-.62-.62l.84-2.873a2 2 0 0 1 .506-.852z"/>
                                    </svg>
                                    </button>

                                    <button
                                    type="button"
                                    (click)="onDelete(menu)"
                                    title="Hapus Menu"
                                    class="rounded-lg p-1.5 text-gray-500 hover:bg-red-50 hover:text-red-600 transition-colors">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                        <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6"/>
                                        <path d="M3 6h18"/>
                                        <path d="M8 6V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"/>
                                    </svg>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    } @empty {
                <tr>
                    <td td colspan="3" class="px-4 py-6 text-center text-gray-400">Belum ada data</td>
                </tr> }
                </tbody>
            </table>
        </div>

        <!-- pagination -->
        <div class="flex items-center justify-between border-t border-gray-100 px-4 py-3">
            <p class="text-sm text-gray-500">
            Halaman {{ currentPage() + 1 }} dari {{ totalPages() }} ({{ totalElements() }} data)
            </p>

            <div class="flex gap-2">
                <div>
                    <select
                        id="role"
                        (change)="setPageSize($any($event.target).value)"
                        class="w-full  rounded-lg border border-gray-300 bg-white px-3 py-2 text-sm text-gray-800 shadow-sm focus:border-[#b91c1c] focus:outline-none focus:ring-1 focus:ring-[#b91c1c] disabled:bg-gray-50"
                        >
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        </select>
                </div>

                <button 
                    type="button"
                    (click)="prevPage()"
                    [disabled]="currentPage() === 0"
                    class="rounded-md border border-gray-300 px-3 py-1.5 text-sm font-medium text-gray-700 disabled:opacity-40 hover:bg-gray-50">
                    Sebelumnya
                </button>

                <button
                    type="button"
                    (click)="nextPage()"
                    [disabled]="currentPage() + 1 >= totalPages()"
                    class="rounded-md border border-gray-300 px-3 py-1.5 text-sm font-medium text-gray-700 disabled:opacity-40 hover:bg-gray-50">
                    Selanjutnya
                </button>

            </div>

        </div>


    </div>
</div>
